body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.hero-container {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
}

.hero {
    width: 80%;
}

header {
    display: flex;
    align-items: center;
    gap: 25px;
}

header>h2 {
    color: #f9faf8;
    font-size: 24px;
    margin-top: 10px;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0 0 10px 0;
}

.header-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
    margin-left: auto;
}

.hero-main {
    display: flex;
    margin: 70px 0 100px;
    gap: 30px;
}

.hero-text,
.image {
    flex: 1;
    flex-wrap: wrap;
}

.hero-text>h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin: 0;
    line-height: 1.05em;
    margin-bottom: 5px;
}

.sign-up {
    background-color: #3882f6;
    padding: 5px 25px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.image {
    background-color: rgba(121, 121, 121, 0.767);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.info-container {
    display: flex;
    justify-content: center;
}

.info {
    max-width: 60%;
    margin-bottom: 100px;
}

.info>h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.box-info {
    max-width: 120px;
}

.box {
    border: 3px solid royalblue;
    width: 114px;
    height: 114px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.box-info>.text {
    text-align: center;
}